{% extends "base.html" %}
{% block header %}
         {% include "header.html" %}
{% endblock header %}

{% block content %}

{% if msg_erreur %}<p><strong>{{ msg_erreur }}:
 {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}

</strong></p>{% endif %}
<form action="{% url 'addQuestion' %}" method="POST">
{% csrf_token %}
    <div class="container">
         <div class="form-group" >
              <div class="row">
                  <div class="col-2">
                    {{ form.as_p }}
                  </div>

                </div>
         </div>
        <input class="btn btn-primary" type="submit" value="Add Offer" />
    </div>
</form>
{% endblock %}
{% block footer %}
{% endblock %}
