<div class="fixed-bottom">
<footer id="footer" class="footer row-fluid">
    <div class="span8 offset2">
        {% block footer_content %}
            <div>© 2018 - TEKUP - {% block footer_app_title %}Community App{% endblock footer_app_title %}
            </div>
        <div>by GLSI-TEKUP</div>
        {% endblock footer_content%}
    </div>
</footer>
</div>