{% extends "base.html" %}
{% block header %}
         {% include "header.html" %}
{% endblock header %}

{% block content %}
<h3>{{ question.questionTitle }}</h3>
<p>{{ question.questionText }}</p>
<p>Publié par:{{ question.publisher.userName }}</p>
    {% if question.tagsinpublication_set.count > 0  %}
        <p>Tags</p>
        {% for tag in tags %}
            <p>{{ tag.tagText}}</p>
        {% endfor %}
    {% endif %}

{% endblock %}
{% block footer %}
    {% include "footer.html" %}
{% endblock %}

