{% extends "base.html" %}
{% load static %}
{% block header %}
         {% include "header.html" %}
{% endblock header %}

{% block content %}
<ul>
    {% for question in questions_list %}
            <div class="table-container">
							<table class="table table-filter">
								<tbody>
									<tr data-status="pagado">
										<td></td>
										<td></td>
										<td>
											<div class="media">
												<a href="#" class="pull-left">
													<img src="{% static 'images/icon_person.png'%}" class="media-photo" width="50%">
												</a>
												<div class="media-body">
													<h4 class="title">
														<li><a href="{% url 'details' question.id %}"> {{ question.questionTitle }}</a></li>
														<span class="pull-right pagado">{{ question.publisher }}</span>
													</h4>
													<p class="summary">{{ question.questionText }}</p>
												</div>
											</div>
										</td>
									</tr>
                                </tbody>
                            </table>
    </div>
    {% endfor %}
</ul>
{% endblock %}
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
